<script type="application/ld+json">
    {{ if eq .Section "ideas" }}
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": {{ .Title }},
      "image": {{ .Params.featuredImage | absURL }},
      "datePublished": {{ .PublishDate }},
      "dateModified": {{ .Lastmod }},
      "author": {
        "@type": "Person",
        "name": {{ .Site.Params.author }}
      },
      "mainEntityOfPage": { "@type": "WebPage" },
      "description": {{ .Summary | plainify | safeHTML }},
      "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
    }
    {{ else }}
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": {{ .Site.Params.header }},
      "url": {{ .Site.BaseURL }},
      "nationality": "Colombian",
      "birthPlace" : {
        "@type": "Place",
          "address": {
            "@type": "PostalAddress",
          "addressLocality": "Popayan",
          "addressCountry": "Colombia"
        }
      },
      "affiliation": [
        {
          "@type": "Organization",
          "name": "Ghent University",
          "sameAs": [
            "https://twitter.com/ugent",
            "https://www.facebook.com/ugent /",
            "https://www.linkedin.com/ghent-university/",
            "https://www.youtube.com/user/UniversiteitGent"
          ]
        },
        {
          "@type": "Organization",
          "name": "The BitBang Co.",
          "sameAs": [
            "https://twitter.com/bitbangcompany",
            "https://www.facebook.com/bitbangcompany /",
            "https://www.linkedin.com/company/tbbc/"
          ]
        }
      ],
      "sameAs": [
        "https://github.com/{{ .Site.Params.github }}",
        "https://gitlab.ilabt.imec.be/{{ .Site.Params.gitlab }}",
        "https://twitter.com/{{ .Site.Params.twitter }}",
        "https://linkedin.com/in/{{ .Site.Params.linkedin }}",
        "https://stackoverflow.com/story/{{ .Site.Params.stackoverflow }}",
      ]
    }
    {{end}}
    </script>